/* Untuk tablet */
@media all and (max-width: 1000px) {
    
    header .navbar ul li a{
        font-size: 14px;
        margin-right: 20px;
    }

    header .logo a{
        font-size: 30px;
    }
    .beranda .beranda-content .block{
        flex: 70%;
        max-width: 70%;
    }
    .beranda .beranda-content .block h6{
        font-size: 22px;
    }

    .beranda .beranda-content .block h1{
        font-size: 50px;
    }

    .beranda .beranda-content .block span{
        font-size: 50px;
    }

    .beranda .beranda-content .block .pesan-button a{
        font-size: 15px;
    }

    .beranda .beranda-content .block .social-media a{
        width: 20px;
    }

    main {
        padding-bottom: 40px;
    }

    .quotes h2{
        font-size: 25px;
    }
    .cara-pesan .section-title{
        font-size: 28px;
    }

    .pesan-content .box h1{
        font-size: 16px;
    }

    .pesan-content .box p{
        font-size: 9px;
    }

    .heading {
        padding-top: 64px;
        padding-bottom: 32px;
    }

    .heading h1, .section-title {
        font-size: 28px;
    }

    .food, .pesan-content .box p{
        font-size: 14px;
    }

    .food-pic {
        flex-wrap: wrap;
        min-width: 160px;
    }

    .food-pic p {
        /* display: none; */
        /* top: 80%; */
        top: auto;
        bottom: 8%;
    }

    .food-text {
        /* display: inline-block; */
    }

    .lihat-menu {
        float: none;
    }

    .testimoni .testimoni-content{
        flex:0 0 100%;
        max-width:100%
    }
    
    .testimoni figure{
        flex:0 0 100%;
        max-width:100%
    }

}

/* Untuk smartphone */
@media all and (max-width: 670px) {
    header .navbar ul li{
        margin-left: 0px;
    }
    header .navbar ul li a{
        font-size: 12px;
        margin-right: 20px;
    }

    header .logo a{
        font-size: 22px;
    }
    .beranda .beranda-content .block{
        flex: 70%;
        max-width: 70%;
    }
    .beranda .beranda-content .block h6{
        font-size: 15px;
    }

    .beranda .beranda-content .block h1{
        font-size: 45px;
    }

    .beranda .beranda-content .block span{
        font-size: 45px;
    }

    .beranda .beranda-content .block .pesan-button a{
        font-size: 15px;
    }

    .beranda .beranda-content .block .social-media a{
        width: 20px;
    }
    
    
    .btn {
        width: 100%;
    }

    main {
        padding-bottom: 24px;
    }

    .quotes h2{
        font-size: 25px;
    }
    .cara-pesan .section-title{
        font-size: 20px;
    }

    .pesan-content .box h1{
        font-size: 14px;
    }

    .pesan-content .box p{
        font-size: 13px;
    }

    .heading {
        padding-top: 48px;
        padding-bottom: 16px;
    }

    .heading h1 {
        font-size: 24px;
    }

    .food {
        font-size: 12px;
    }

    .food-pic {
        flex-wrap: wrap;
        min-width: 120px;
    }

    .food-pic p {
        display: none;
    }

    .food-text {
        display: inline-block;
    }

    .lihat-menu {
        float: none;
    }

    .testimoni h2{
        font-size: 20px;
    }
    .testimoni .testimoni-content{
        flex:0 0 100%;
        max-width:100%
    }
    
    .testimoni figure{
        flex:0 0 100%;
        max-width:100%
    }

}



